@model Post

@{

}

<div>
    <form method="post"
          asp-controller="Panel"
          asp-action="Edit">
        <input asp-for="Id" type="hidden" />
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" />
        </div>
        <div>
            <label asp-for="Body"></label>
            <input asp-for="Body" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>