@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog has everything!!";
    ViewBag.Keywords = "blog programming travel photography";
    var basePath = Context.Request.PathBase;
}

<div class="main-img">
    <div class="title">Amazing Blog Site</div>
</div>

<div class="container">
    @foreach (var post in Model)
    {
        var imagePath = $"{basePath}/Image/{post.Image}";
        <a class="post"
           asp-controller="Home"
           asp-action="Post"
           asp-route-id="@post.Id">
            <img src="@imagePath" />
            <span class="title">@post.Title</span>
        </a>
    }
</div>