<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Persistence</name>
    </assembly>
    <members>
        <member name="T:Persistence.AppDbContext">
            <summary>
            Class AppDbContext
            </summary>
        </member>
        <member name="M:Persistence.AppDbContext.#ctor(Microsoft.EntityFrameworkCore.DbContextOptions{Persistence.AppDbContext})">
            <summary>
            Constructor
            </summary>
            <param name="options">options</param>
        </member>
        <member name="P:Persistence.AppDbContext.Posts">
            <summary>
            Posts
            </summary>
        </member>
        <member name="T:Persistence.Migrations.Initial">
            <summary>
            Class Initial
            </summary>
        </member>
        <member name="M:Persistence.Migrations.Initial.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.Initial.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollovers migrationBuilder
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.Initial.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method executes migration
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
        <member name="T:Persistence.Migrations.AddPostsTable">
            <summary>
            Class AddPostsTable
            </summary>
        </member>
        <member name="M:Persistence.Migrations.AddPostsTable.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddPostsTable.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollovers migrationBuilder
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddPostsTable.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method executes migration
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
    </members>
</doc>
