<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Web</name>
    </assembly>
    <members>
        <member name="T:Web.Controllers.HomeController">
            <summary>
            Сlass HomeController
            </summary>
        </member>
        <member name="M:Web.Controllers.HomeController.#ctor(Application.Repository.IRepository)">
            <summary>
            Constructor
            </summary>
            <param name="repo">repo</param>
        </member>
        <member name="M:Web.Controllers.HomeController.Index">
            <summary>
            Method displays index UI.
            GET: /
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.HomeController.Post">
            <summary>
            Method displays post UI.
            GET: /Home/Post
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.HomeController.Edit">
            <summary>
            Method displays edit post UI.
            GET: /Home/Edit
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.HomeController.Edit(Domain.Post)">
            <summary>
            Method handles edit post UI request.
            POST: /Home/Edit
            </summary>
            <param name="post">post</param>
            <returns>IActionResult</returns>
        </member>
        <member name="T:Web.Program">
            <summary>
            Class Program.
            Implements the main app class
            </summary>
        </member>
        <member name="M:Web.Program.Main(System.String[])">
            <summary>
            App entry point
            </summary>
            <param name="args">args</param>
            <returns>Task</returns>
        </member>
        <member name="M:Web.Program.CreateHostBuilder(System.String[])">
            <summary>
            Method bootstraps the app
            </summary>
            <param name="args">args</param>
            <returns>IHostBuilder</returns>
        </member>
        <member name="T:Web.Startup">
            <summary>
            Class Startup.
            Implements initial settings
            </summary>
        </member>
        <member name="F:Web.Startup._configuration">
            <summary>
            Configuration
            </summary>
        </member>
        <member name="F:Web.Startup._env">
            <summary>
            
            </summary>
        </member>
        <member name="M:Web.Startup.#ctor(Microsoft.Extensions.Configuration.IConfiguration,Microsoft.AspNetCore.Hosting.IWebHostEnvironment)">
            <summary>
            Constructor
            </summary>
            <param name="configuration">configuration</param>
            <param name="env">env</param>
        </member>
        <member name="M:Web.Startup.ConfigureServices(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            Method gets called by the runtime to add services to the container
            </summary>
            <param name="services">services</param>
        </member>
        <member name="M:Web.Startup.Configure(Microsoft.AspNetCore.Builder.IApplicationBuilder,Microsoft.Extensions.Logging.ILogger{Web.Startup})">
            <summary>
            Method gets called by the runtime to configure the HTTP request pipeline
            </summary>
            <param name="app">app</param>
            <param name="logger">logger</param>
        </member>
    </members>
</doc>
