<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Web</name>
    </assembly>
    <members>
        <member name="T:Web.Controllers.AuthController">
            <summary>
            Сlass AuthController
            </summary>
        </member>
        <member name="M:Web.Controllers.AuthController.#ctor(Microsoft.AspNetCore.Identity.SignInManager{Microsoft.AspNetCore.Identity.IdentityUser})">
            <summary>
            Constructor
            </summary>
            <param name="signInManager">signInManager</param>
        </member>
        <member name="M:Web.Controllers.AuthController.Login">
            <summary>
            Method displays login UI.
            GET: /auth/login
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.AuthController.Login(Web.ViewModels.LoginViewModel)">
            <summary>
            Method handles login.
            POST: /auth/login
            </summary>
            <param name="loginVM">loginVM</param>
            <returns>Task&lt;IActionResult&gt;</returns>
        </member>
        <member name="M:Web.Controllers.AuthController.Logout">
            <summary>
            Method handles logout.
            GET: /auth/logout
            </summary>
            <returns>Task&lt;IActionResult&gt;</returns>
        </member>
        <member name="T:Web.Controllers.HomeController">
            <summary>
            Сlass HomeController
            </summary>
        </member>
        <member name="M:Web.Controllers.HomeController.#ctor(Application.Repository.IRepository,Application.FileManager.IFileManager)">
            <summary>
            Constructor
            </summary>
            <param name="repo">repo</param>
            <param name="fileManager">fileManager</param>
        </member>
        <member name="M:Web.Controllers.HomeController.Index(System.Int32,System.String)">
            <summary>
            Method displays index UI.
            GET: /
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.HomeController.Post(System.Int32)">
            <summary>
            Method displays post UI.
            GET: /Home/Post
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.HomeController.Image(System.String)">
            <summary>
            Method streams the image.
            GET: /Image/{image}
            </summary>
            <param name="image"></param>
            <returns></returns>
        </member>
        <member name="M:Web.Controllers.HomeController.Comment(Web.ViewModels.CommentViewModel)">
            <summary>
            Method handles comments.
            POST: /Home/Comment
            </summary>
            <param name="commentVM">commentVM</param>
            <returns>Task&lt;IActionResult&gt;</returns>
        </member>
        <member name="T:Web.Controllers.PanelController">
            <summary>
            Class PanelController
            </summary>
        </member>
        <member name="M:Web.Controllers.PanelController.#ctor(Application.Repository.IRepository,Application.FileManager.IFileManager)">
            <summary>
            Constructor
            </summary>
            <param name="repo">repo</param>
            <param name="fileManager">fileManager</param>
        </member>
        <member name="M:Web.Controllers.PanelController.Index">
            <summary>
            Method displays index UI.
            GET: /panel
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.PanelController.Edit(System.Nullable{System.Int32})">
            <summary>
            Method displays edit post UI.
            GET: /panel/edit
            </summary>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.PanelController.Edit(Web.ViewModels.PostViewModel)">
            <summary>
            Method handles edit post UI request.
            POST: /panel/edit
            </summary>
            <param name="postVM">postVM</param>
            <returns>IActionResult</returns>
        </member>
        <member name="M:Web.Controllers.PanelController.Remove(System.Int32)">
            <summary>
            Method removes the post.
            GET: /panel/remove
            </summary>
            <param name="id">id</param>
            <returns>Task&lt;IActionResult&gt;</returns>
        </member>
        <member name="T:Web.Program">
            <summary>
            Class Program.
            Implements the main app class
            </summary>
        </member>
        <member name="M:Web.Program.Main(System.String[])">
            <summary>
            App entry point
            </summary>
            <param name="args">args</param>
            <returns>Task</returns>
        </member>
        <member name="M:Web.Program.CreateHostBuilder(System.String[])">
            <summary>
            Method bootstraps the app
            </summary>
            <param name="args">args</param>
            <returns>IHostBuilder</returns>
        </member>
        <member name="T:Web.Startup">
            <summary>
            Class Startup.
            Implements initial settings
            </summary>
        </member>
        <member name="F:Web.Startup._configuration">
            <summary>
            Configuration
            </summary>
        </member>
        <member name="F:Web.Startup._env">
            <summary>
            
            </summary>
        </member>
        <member name="M:Web.Startup.#ctor(Microsoft.Extensions.Configuration.IConfiguration,Microsoft.AspNetCore.Hosting.IWebHostEnvironment)">
            <summary>
            Constructor
            </summary>
            <param name="configuration">configuration</param>
            <param name="env">env</param>
        </member>
        <member name="M:Web.Startup.ConfigureServices(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            Method gets called by the runtime to add services to the container
            </summary>
            <param name="services">services</param>
        </member>
        <member name="M:Web.Startup.Configure(Microsoft.AspNetCore.Builder.IApplicationBuilder,Microsoft.Extensions.Logging.ILogger{Web.Startup})">
            <summary>
            Method gets called by the runtime to configure the HTTP request pipeline
            </summary>
            <param name="app">app</param>
            <param name="logger">logger</param>
        </member>
        <member name="T:Web.ViewModels.CommentViewModel">
            <summary>
            Class CommentViewModel
            </summary>
        </member>
        <member name="P:Web.ViewModels.CommentViewModel.PostId">
            <summary>
            PostId
            </summary>
        </member>
        <member name="P:Web.ViewModels.CommentViewModel.MainCommentId">
            <summary>
            MainCommentId
            </summary>
        </member>
        <member name="P:Web.ViewModels.CommentViewModel.Message">
            <summary>
            Message
            </summary>
        </member>
        <member name="T:Web.ViewModels.LoginViewModel">
            <summary>
            Class LoginViewModel
            </summary>
        </member>
        <member name="P:Web.ViewModels.LoginViewModel.UserName">
            <summary>
            UserName
            </summary>
        </member>
        <member name="P:Web.ViewModels.LoginViewModel.Password">
            <summary>
            Password
            </summary>
        </member>
        <member name="T:Web.ViewModels.PostViewModel">
            <summary>
            Class PostViewModel
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Id">
            <summary>
            Id
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Title">
            <summary>
            Title
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Body">
            <summary>
            Body
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Description">
            <summary>
            Description
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Tags">
            <summary>
            Tags
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Category">
            <summary>
            Category
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.CurrentImage">
            <summary>
            CurrentImage
            </summary>
        </member>
        <member name="P:Web.ViewModels.PostViewModel.Image">
            <summary>
            Image
            </summary>
        </member>
    </members>
</doc>
